.progress-container {
    display: flex;
    flex-direction: row;
}

.progressbar {
    flex-basis: 80%;
    background-color: #ddd;
}

.progress-level {
    flex-basis: 15%;

}
.progress-level span {
    font-size: 24px;
    padding-left: 12px;
}

.progressbar-status {
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}