.training-title {
    text-align: center;
    font-weight: 500;
}

.training-form {
    margin: 20px auto;
    width: 60%;
}

.training-form input {
    border: 1px solid #000;
    margin: 20px auto;
    height: 32px;
    font-size: 30px;
    width: 100%;
}

.training-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px;
}

.training-button {
    flex-basis: 30%;
    padding: 20px 32px;
    border: 1px solid #aaa;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.next-button {
    background-color: orange;
}

.done-button {
    background-color: green;
}

.training-results ul {
    padding-left: 10px;
}

.training-results li {
    list-style-type: none;
    font-size: 20px;
}

