.dashboard-track {
    border: 1px solid black;
    margin: 4px 8px;
    padding: 4px 2px 12px;
}

.dashboard-track-info {
    display: flex;
    flex-direction: row;
    padding: 8px;
}

.dashboard-track-info-name {
    flex-basis: 60%;
    text-transform: capitalize;
}

.dashboard-track-info-total {
    flex-basis: 40%;
    text-align: right;
}