.own-button {
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    margin: 50px 20px 0;
    background-color: #4CAF50;
    cursor: pointer;
    color: white;
    text-decoration: none;
}