.stats-table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

.stats-table th, td {
    text-align: left;
    padding: 8px;
}

.stats-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.stats-table p {
    text-align: center;
}